* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  height: 100vh;
}

.container .question {
  font-size: 14px;
  color: #6c7377;
}

.container .tip {
  font-size: 18px;
  font-weight: bold;
  color: #191919;
}

.container .controller {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px;
}

.container .controller .colors {
  display: flex;
  gap: 10px;
}

.container .controller .colors .item {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-sizing: border-box;
}

.container .controller .colors .item::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 0;
  height: 0;
  border: 0 solid #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  content: "";
}

.container .controller .colors .item-active::before {
  width: 15px;
  height: 15px;
  border: 1.5px solid #ffffff;
}

.container .controller .back i {
  color: #6c7377;
}

.container .canvas {
  width: 80vw;
  height: 80vw;
  border: 1px solid #6c7377;
  border-radius: 5px;
  box-sizing: border-box;
}

.container .img {
  width: 80vw;
}
