* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container .scene {
  /* background-color: skyblue; */
  font-size: 0;
}

/* .container .scene canvas.render-canvas {
  width: 750px;
  height: 1438px;
} */
